[buildout]
versions = versions

[versions]
zope.interface = 3.6.1
collective.xmltestreport = 1.2.6

zc.buildout = 1.7.1

# firefox 28 support
# http://selenium.googlecode.com/git/py/CHANGES
selenium = 2.41.0


#https://dev.plone.org/ticket/14027 NOVALUE bug
z3c.form = 3.0.5
